.cards {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;


    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        height: 420px;
        width: 300px;
        padding: 10px 25px 20px 15px;
        background: white;
        border-radius: 25px;

        .view-product {
            cursor: pointer;
            position: absolute;
            top: 0;
            right: 0;
            height: 45px;
            width: 45px;
            background: $light;
            border: 0;
            border-radius: 68% 32% 0% 100% / 0% 30% 70% 100%;

            i {
                padding: 0 0 10px 5px;
            }

            .bubble {
                position: absolute;
                right: -90%;
                bottom: 0;
                background: $lighter;
                border-radius: 100px;
                padding: 20px;
                visibility: hidden;
                background: $light;
            }
        }

        .view-product:hover {
            .bubble {
                visibility: visible;
            }
        }

        .product-img {
            height: 140px;
            object-fit: contain;
        }

        .place-info {
            .bold {
                font-weight: 500;
            }
        }

        ul {
            display: flex;
            justify-content: space-around;
            width: 100%;
        }

        .score-img {
            height: 40px;
        }

    }
}