.cards {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;


    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        height: 420px;
        width: 300px;
        padding: 10px 25px 20px 15px;
        background: white;
        border-radius: 15px;
        transition: transform 0.3s ease-in-out;

        &:hover {
            box-shadow: 0 0 5px 2px $light;
        }

        .view-product {
            cursor: pointer;
            position: absolute;
            top: 0;
            right: 0;
            height: 45px;
            width: 45px;
            background: $light;
            border: 0;
            border-radius: 68% 32% 0% 100% / 0% 30% 70% 100%;

            i {
                padding: 0 0 10px 5px;
                transition: opacity 0.3s ease-in-out;
            }

            .bubble {
                position: absolute;
                padding: 23px;
                right: -80%;
                bottom: 0;
                background: $lighter;
                border-radius: 100px;
                visibility: hidden;
                opacity: 0;
                background: $light;
                transition: opacity 0.5s ease-in-out;
                z-index: 9999;

                &:hover {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }

        .view-product:hover {
            .bubble {
                visibility: visible;
            }
            i {
                opacity: 0;
            }
        }

        .product-img {
            height: 140px;
            object-fit: contain;
            padding: 10px;
        }

        ul {
            display: flex;
            justify-content: space-around;
            width: 100%;
        }

        .score-img {
            height: 40px;
        }

    }
}