.category-choices {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    margin-top: 100px;
    padding: 50px;
    .category-btns {
        display: flex;
        align-items: center;
        gap: 1vw;
    }
    .category-btn {
        cursor: pointer;
        padding: 1%;
        background: $light;
        border-radius: 25px;

        &:hover {
            box-shadow: 0 0 5px 0 $deeper;
            cursor: pointer;
        }
    }
}
.clicked-btn {
    background: red;
}