.header {
    display: flex;
    background: $light;
    margin-top: 2vh;
    height: 60vh;
    padding: 5vh;
    padding-top: 15vh;


    .header-img {
        display: flex;
        width: 70%;
        justify-content: center;

        img {
            height: 100%;
        }
    }

    .intro {
        padding-right: 4vw;
        overflow-y: auto;

        .utils-infos {
            padding-top: 1vh;
        }
    }

    p {
        width: 100%;
    }

    i {
        font-size: 0.7rem;
    }
}