.header {
    display: flex;
    background: $light;
    margin-top: 80px;
    height: 375px;
    padding: 20px;

    img {
        border-radius: 1000px;
        padding-top: 15px;
    }

    p {
        width: 1200px;
    }
    i {
        font-size: 0.7rem;
    }
}